In [1]:
import pandas as pd

In [2]:
df_student ={'Name':['mike','alice','shawn'],'School':['engineering','psychology','data science']}
df_staff ={'Name':['rob','mike','paul'],'Role':['Grader','Auctioneer','Flight attendant']}

In [3]:
df_student=pd.DataFrame(df_student)

In [4]:
df_staff=pd.DataFrame(df_staff)

In [30]:
df_student=df_student.set_index('Name')

In [31]:
df_staff=df_staff.set_index('Name')

In [51]:
df=pd.merge(df_student,df_staff, how='left', left_index=True, right_index=True)

In [53]:
df.groupby('')

In [48]:
import pandas as pd
df = pd.DataFrame(['A+', 'A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+', 'D'], index=['excellent', 'excellent', 'excellent', 'good', 'good', 'good', 'ok', 'ok', 'ok', 'poor', 'poor'], columns = ['Grades'])
my_categories = pd.CategoricalDtype(categories=['D', 'D+', 'C-', 'C', 'C+', 'B-', 'B', 'B+', 'A-', 'A', 'A+'], ordered=True)
grades = df['Grades'].astype(my_categories)
result = grades[(grades>'B') & (grades<'A')]

In [46]:
result

excellent    A-
good         B+
Name: Grades, dtype: category
Categories (11, object): [D < D+ < C- < C ... B+ < A- < A < A+]

In [49]:
import pandas as pd
(pd.Timestamp('11/29/2019') + pd.offsets.MonthEnd()).weekday()

5

In [50]:
import pandas as pd
pd.Period('01/12/2019', 'M') + 5

Period('2019-06', 'M')

In [4]:
import pandas as pd
import numpy as np

# Filter all warnings. If you would like to see the warnings, please comment the two lines below.
import warnings
warnings.filterwarnings('ignore')
energy = pd.read_excel('assets/Energy Indicators.xls', header=8, skipfooter=38)

In [5]:
energy

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,Country,Energy Supply,Energy Supply per capita,Renewable Electricity Production
1,NaN,NaN,NaN,Petajoules,Gigajoules,%
2,NaN,NaN,Andorra,9,121,88.6957
3,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,website: http://unstats.un.org/unsd/ENVIRONMEN...
5,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,Energy Supply,Energy Supply per capita,Renewable Electricity Production
8,NaN,NaN,NaN,Petajoules,Gigajoules,%
9,NaN,Afghanistan,Afghanistan,321,10,78.6693
10,NaN,Albania,Albania,102,35,100
11,NaN,Algeria,Algeria,1959,51,0.55101
12,NaN,American Samoa,American Samoa,...,...,0.641026
13,NaN,Andorra,Andorra,9,121,88.6957
14,NaN,Angola,Angola,642,27,70.9091
15,NaN,Anguilla,Anguilla,2,136,0
16,NaN,Antigua and Barbuda,Antigua and Barbuda,8,84,0
17,NaN,Argentina,Argentina,3378,79,24.0645
18,NaN,Armenia,Armenia,143,48,28.2361
19,NaN,Aruba,Aruba,12,120,14.8707
20,NaN,Australia,Australia1,5386,231,11.8108
21,NaN,Austria,Austria,1391,164,72.4528
22,NaN,Azerbaijan,Azerbaijan,567,60,6.38434
23,NaN,Bahamas,Bahamas,45,118,0
24,NaN,Bahrain,Bahrain,574,425,0
25,NaN,Bangladesh,Bangladesh,1625,10,1.96633
26,NaN,Barbados,Barbados,19,69,0
27,NaN,Belarus,Belarus,1142,120,0.463389
28,NaN,Belgium,Belgium,2338,210,9.95974
29,NaN,Belize,Belize,13,39,64.69
...,...,...,...,...,...,...
206,NaN,Switzerland,Switzerland17,1113,136,57.7455
207,NaN,Syrian Arab Republic,Syrian Arab Republic,542,28,11.5683
208,NaN,Tajikistan,Tajikistan,106,13,99.7429
209,NaN,Thailand,Thailand,5336,79,4.30519
210,NaN,The former Yugoslav Republic of Macedonia,The former Yugoslav Republic of Macedonia,117,56,26.1405
211,NaN,Timor-Leste,Timor-Leste,7,6,0
212,NaN,Togo,Togo,134,19,80.1802
213,NaN,Tonga,Tonga,3,28,0
214,NaN,Trinidad and Tobago,Trinidad and Tobago,824,611,0
215,NaN,Tunisia,Tunisia,430,39,3.49255
216,NaN,Turkey,Turkey,4897,64,28.5367
217,NaN,Turkmenistan,Turkmenistan,1102,210,0
218,NaN,Turks and Caicos Islands,Turks and Caicos Islands,3,85,0
219,NaN,Tuvalu,Tuvalu,...,...,0
220,NaN,Uganda,Uganda,452,12,68.0182
221,NaN,Ukraine,Ukraine18,4844,107,8.06731
222,NaN,United Arab Emirates,United Arab Emirates,2710,300,0
223,NaN,United Kingdom of Great Britain and Northern I...,United Kingdom of Great Britain and Northern I...,7920,124,10.6005
224,NaN,United Republic of Tanzania,United Republic of Tanzania,994,20,31.0728
225,NaN,United States of America,United States of America20,90838,286,11.571
226,NaN,United States Virgin Islands,United States Virgin Islands,...,...,0
227,NaN,Uruguay,Uruguay,196,58,71.605
228,NaN,Uzbekistan,Uzbekistan,1798,62,21.3284
229,NaN,Vanuatu,Vanuatu,3,10,14.7059
230,NaN,Venezuela (Bolivarian Republic of),Venezuela (Bolivarian Republic of),2871,95,67.8345
231,NaN,Viet Nam,Viet Nam,2554,28,45.3215
232,NaN,Wallis and Futuna Islands,Wallis and Futuna Islands,0,26,0
233,NaN,Yemen,Yemen,344,13,0
234,NaN,Zambia,Zambia,400,26,99.7147
235,NaN,Zimbabwe,Zimbabwe,480,32,52.5361